html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
<<<<<<< HEAD
}
=======
}

.entete2 {
  display: flex;
  font-size: larger;
}
.entete1 {
  margin-top: 25px;
  background-color: bisque;
}
>>>>>>> d73ce781801d8d932061f6e5eaa7210c3a1d6076
