





<div id="exercise">
    
</div>

<div id="ul">

</div>

<div id="exercises">

</div>
<script defer src="/Users/wosassociate/Documents/ShapeShifters/ShapeShifters/wwwroot/js/site.js"></script> 
@* !change this src so it can be used on other computers *@