<div class="entete1">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg; border-bottom box-shadow mb-3">
            <div class="container-fluid">
               <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ShapeShifters</a>
                <div class="entete2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <a href="/about" class="nav-link text-dark">About</a>
                             <a href=""class="nav-link text-dark" >Add a post</a>
                            <a href=""class="nav-link text-dark" >Exercice</a>
                            <a href="/contactus"class="nav-link text-dark" >Contact Us</a>
                            <div class="d-flex justify-content-end">
                              <button type="button" class="btn btn-outline-dark"> <a href="/logout">Logout</a> </button>
                            </div>
                            
                </div>
            </div>
        </nav>
</div>





<div id="exercise">
    
</div>

<div id="ul">

</div>

<div id="exercises">

</div>
<script defer src="/Users/wosassociate/Documents/ShapeShifters/ShapeShifters/wwwroot/js/site.js"></script> 
@* !change this src so it can be used on other computers *@