<link rel="stylesheet" href="~/css/exercise.css" asp-append-version="true" />
<script src= "~/js/exercise.js"></script>
<div id="oneEx" class="w-100 d-flex justify-content-center align-items-center">

@* <h1>HELLO WORLD</h1>
<div class="night">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
</div> *@
<div id="oneEx">
    

</div>