<link rel="stylesheet" href="~/css/exercise.css" asp-append-version="true" />

<<<<<<< HEAD
<div id="oneEx" class="w-100 d-flex justify-content-center align-items-center">
=======
<script src= "~/js/exercise.js"></script>
<h1>HELLO WORLD</h1>
<div class="night">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
</div>
<div id="oneEx">
>>>>>>> 41cd767623cb1921aa45531e3f021d5b641c85fb
    

</div>